<div class="container">
    <div class="row">
            <ng-container *ngFor="let colour of colours; index as i">
                <div [ngClass]="setClass()" style="padding: 0;">
                    <h3>{{ colour.hexCode|hex }}</h3>
                    <div [ngStyle]="{backgroundColor: setColour(colour), borderLeft: setBorderLeft(i), borderRight: setBorderRight(i)}" class="colour"></div>
                </div>
            </ng-container>
    </div>

    <div class="row">
        <form class="nameForm">
            <div class="col" class="d-flex flex-row justify-content-center">
                <h3>name:</h3>
            </div>
            <div class="col" class="d-flex flex-row justify-content-center">
                <input type="text" name="name" (input)="onEnterName($event)"/>
            </div>
            <div class="col" class="d-flex flex-row justify-content-center">
                <p class="warning">{{ warning }}</p>
            </div>
        </form>
    </div>

    <div class="row">
        <div>
        <div class="col" class="d-flex flex-row justify-content-center">
            <button class="button-secondary" (click)="onSave()">save</button>
        </div>
        <div class="col" class="d-flex flex-row justify-content-center">
            <button class="button-primary" (click)="onCancel()">cancel</button>
        </div>
        </div>
    </div>
</div>
