#picker {
    display: none;
}

.rgb {
    width: 60px;
    margin-left: 6px;
    color: #06373E;
}

.settings {
    width: 500px;
}

#showColour {
    height: 70px;
}

.row {
    margin: 20px auto;
}