<div class="container">
    <div class="row">
        <div class="col d-flex flex-row justify-content-center">
            <input id="picker"
                [(colorPicker)]="colour.hexCode" 
                [cpDialogDisplay]="'inline'" 
                [cpToggle]="true" 
                [cpWidth]="'500px'" 
                [cpAlphaChannel]="'disabled'"
                [cpOutputFormat]="'hex'"
                [cpDisableInput]="true"
                (cpSliderChange)="onSlide()"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col d-flex flex-row justify-content-center">
                    <h3>{{ colour.hexCode | uppercase }}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col d-flex flex-row justify-content-center">
                    <div id="showColour" class="col-sm-2" [style.backgroundColor]="colour.hexCode"></div>
                </div>
            </div>

            <div class="row d-flex flex-row justify-content-center">
                <div class="col-sm-1 d-flex flex-row justify-content-center">
                    <label for="r">R</label>
                    <input type="number" min="0" max="255" id="r" class="rgb" [(ngModel)]="colour.rValue" (input)="onRGBchange()" />
                </div>
                <div class="col-sm-1 d-flex flex-row justify-content-center">
                    <label for="g">G</label>
                    <input type="number" min="0" max="255" id="g" class="rgb" [(ngModel)]="colour.gValue" (input)="onRGBchange()" />
                </div>
                <div class="col-sm-1 d-flex flex-row justify-content-center">
                    <label for="b">B</label>
                    <input type="number" min="0" max="255" id="b" class="rgb" [(ngModel)]="colour.bValue" (input)="onRGBchange()" />
                </div>
            </div>

            <div class="row">
                <div class="col" class="d-flex flex-row justify-content-center">
                    <button class="button-primary" (click)="onGenerate()">generate</button>
                </div>
                <div class="col" class="d-flex flex-row justify-content-center">
                    <button class="button-variant">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
