.actionButtons>div>button {
    width: 200px;
}

h3 {
    color: #06373E;
}

.colour {
    width: 380px;
    height: 150px;
}

.delete, .add {
    color: #C1CBCC;
}

.delete:hover, .add:hover {
    color: #06373E;
}

.option {
    display: block;
    padding: 1px 15px;
    font-size: large;
    border: 1px solid #F0F0F0;
    color: #F0F0F0;
    text-align: center;
}

.actionButton {
    margin: 5px 0;
    border-radius: 30px;
}

.colourActions {
    width: 230px;
}

.colourAdd {
    width: 50px;
}

.colourEmpty {
    width: 25px;
}

.row {
    margin-bottom: 20px;
}