.top {
    margin-top: 50px;
}

h3 {
    color: #06373E;
}

.five {
    width: 20%;
}

.colour {
    height: 150px;
}

.delete, .add {
    color: #C1CBCC;
}

.delete:hover, .add:hover {
    color: #06373E;
}

.option {
    display: block;
    padding: 1px 15px;
    font-size: large;
    border: 1px solid #F0F0F0;
    color: #F0F0F0;
    text-align: center;
}

.row {
    margin-bottom: 20px;
}